.hamburguer-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem 1rem 3rem;
}

.nav-logo {
    display: flex;
    align-items: center;
}

a.nav-logo h1 {
    padding-left: 20px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #FF6D1C;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
}

.nav-menu.active {
    left: 0;
    top: 123.6px;
}

.nav-item:first-child {
    padding-top: 15px;
}

.nav-item {
    padding-bottom: 15px;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #fff;
}

.nav-link:hover{
    color: #D3F9B5;
}

.hamburger {
    display: block;
    cursor: pointer;
    padding: 12px 2px;
}

.hamburger.active .menu-bars {
    opacity: 0;
}

.menu-bars {
    background: #FF6D1C;
    border-radius: 6px;
    box-shadow: 0 2px 2px rgba(0, 0, 0,.2);
    display: block; 
    height: 4px;
    width: 40px;
    margin: 2px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;   
}

.menu-bars::before,
.menu-bars::after {
    background: #FF6D1C;
    border-radius: 6px;
    box-shadow: 0 2px 2px rgba(0, 0, 0,.2);
    cursor: pointer;
    content: '';
    height: 4px;
    width: 40px;
    position: absolute;
    transition: all 0.3s ease-in-out;
}

.menu-bars::before {
    transform: translateY(-16px);
    margin-top: 4px;
}

.menu-bars::after {
    transform: translateY(16px);
    margin-top: -4px;
}